{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Құпиясөзді қайта қалыпқа келтіру" %}{% endblock %}

{% block content %}
    <h1>{% trans "Құпиясөзді қайта қалыпқа келтіру" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Саған почтаңа құпиясөзді қайта қалыпқа келтіру үшін арнайы сілтеме жіберілді. Сол арқылы құпяисөзіңізді қайта қалыпқа келтіре аласыз{% endblocktrans %}</p>
{% endblock %}
