{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Құпиясөз" %}{% endblock %}

{% block content %}

    <h1>{% trans "Құпиясөзді қайта қалыпқа келтіру" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Құпиясөзіңді ұмыттың ба? Төменге почтаңды жаз және ол жаққа қайта қалыпқа келтіру сілтемесі жіберіледі" %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Қайта қалыпқа келтіру' %}" />
    </form>

{% endblock %}
