/* carousel-control-prev
carousel-control-prev-icon */

.carousel-control-next-icon, .carousel-control-prev-icon {
    cursor: pointer;
}

.carousel-control-prev, .carousel-control-next {
    border: none;
    background: none;
}

.carousel-control-prev {
    left: -10%;
}
.carousel-control-next {
    right: -10%;
}