{% extends 'layout.html' %}
{% load static %}
{% block title %} Біз туралы {% endblock title %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Біз туралы</h2>
            <hr>
            <p>
                QazFilms - қазақстандағы фильмдердің авторлық құқығы бұзылмаған ең алғашқы фильмдер сайты. Сайтта еліміздегі отандық режиссерлардың кинотуындылары бар. Фильмдердің дыбысталуы оригининал түрде: қазақ және орыс тілінде. Авторлық құқық сақталуы үшін продюсерлік орталықтардың ресми Youtube желісіндегі каналдарында жарияланған бейнероликтер жүктелген.
            </p>
            <img src="{% static 'logo2.png' %}" width="75%">
        </div>
    </div>
</div>

{% endblock %}